In [10]:
import pandas as pd

awards_players_df = pd.read_csv("data/awards_players.csv")
coaches_df = pd.read_csv("data/coaches.csv")
players_teams_df = pd.read_csv("data/players_teams.csv")
players_df = pd.read_csv("data/players.csv")
series_post_df = pd.read_csv("data/series_post.csv")
teams_post_df = pd.read_csv("data/teams_post.csv")
teams_df = pd.read_csv("data/teams.csv")
#merged_df = pd.merge(awards_players_df, players_teams_df, on=['playerID', 'year', 'lgID'], how='left')
#merged_df = pd.merge(merged_df, coaches_df, on=['year', 'lgID'], how='left')
#merged_df = pd.merge(merged_df, teams_df, on=['year', 'tmID', 'lgID'], how='left')
#merged_df = pd.merge(merged_df, series_post_df, left_on=['year', 'lgID', 'tmID'], right_on=['year', 'lgID', 'tmIDWinner'], how='left')
#players_df = players_df.rename(columns={"bioID": "playerID"})
#merged_df = pd.merge(merged_df, players_df, on="playerID", how="left")
#merged_df = pd.merge(merged_df, teams_post_df, on=['year', 'tmID', 'lgID'], how='left')
players_df.isna().all()

bioID           False
pos             False
firstseason     False
lastseason      False
height          False
weight          False
college         False
collegeOther    False
birthDate       False
deathDate       False
dtype: bool

In [11]:
#death date isnt relevant and its value is always 0000-00-00
players_df = players_df.drop(["deathDate"], axis="columns")
#lgID(Winner/Loser) isnt relevant as its value is always the same
awards_players_df = awards_players_df.drop(["lgID"], axis="columns")
coaches_df = coaches_df.drop(["lgID"], axis="columns")
players_teams_df = players_teams_df.drop(["lgID"], axis="columns")
series_post_df = series_post_df.drop(["lgIDWinner","lgIDLoser"], axis="columns")
teams_post_df = teams_post_df.drop(["lgID"], axis="columns")
teams_df = teams_df.drop(["lgID","seeded"], axis="columns")
#remove players whose birthDate is 0000-00-00
players_df = players_df[players_df['birthDate'] != '0000-00-00']
players_df = players_df.rename(columns={"bioID": "playerID"})
players_df

,playerID,pos,firstseason,lastseason,height,weight,college,collegeOther,birthDate
0,abrahta01w,C,0,0,74.0,190,George Washington,NaN,1975-09-27
1,abrossv01w,F,0,0,74.0,169,Connecticut,NaN,1980-07-09
2,adairje01w,C,0,0,76.0,197,George Washington,NaN,1986-12-19
3,adamsda01w,F-C,0,0,73.0,239,Texas A&M,Jefferson College (JC),1989-02-19
4,adamsjo01w,C,0,0,75.0,180,New Mexico,NaN,1981-05-24
...,...,...,...,...,...,...,...,...,...
887,zarafr01w,G,0,0,70.0,146,NaN,NaN,1976-12-08
888,zellosh01w,G,0,0,70.0,155,Pittsburgh,NaN,1986-08-28
889,zhengha01w,C,0,0,80.0,254,NaN,NaN,1967-03-07
891,zirkozu01w,G,0,0,69.0,145,NaN,NaN,1980-06-06
892,zollsh01w,G,0,0,67.0,148,Virginia,NaN,1986-07-11

In [12]:

merged_players_df = pd.merge(players_df, awards_players_df, how="left", on="playerID")
merged_players_df = pd.merge(merged_players_df, players_teams_df, how="left", on=["playerID","year"])
merged_df = pd.merge(teams_df, merged_players_df, how="left", on=["year", "tmID"])
merged_df = pd.merge(merged_df, coaches_df, how="left", on=["year", "tmID"])
merged_df = pd.merge(merged_df, teams_post_df, how="left", on=["year", "tmID"])
merged_df = pd.merge(merged_df, series_post_df, how="left", on="year")

In [13]:

merged_df
#merged_players_df = merged_players_df.dropna()

# check for missing values
#merged_players_df.isna().all()

,year,tmID,franchID,confID,divID,rank,playoff,firstRound,semis,finals,...,post_wins,post_losses,W_x,L_x,round,series,tmIDWinner,tmIDLoser,W_y,L_y
0,9,ATL,ATL,EA,NaN,7,N,NaN,NaN,NaN,...,0,0,NaN,NaN,FR,A,SAS,SAC,2,1
1,9,ATL,ATL,EA,NaN,7,N,NaN,NaN,NaN,...,0,0,NaN,NaN,FR,B,LAS,SEA,2,1
2,9,ATL,ATL,EA,NaN,7,N,NaN,NaN,NaN,...,0,0,NaN,NaN,FR,C,DET,IND,2,1
3,9,ATL,ATL,EA,NaN,7,N,NaN,NaN,NaN,...,0,0,NaN,NaN,FR,D,NYL,CON,2,1
4,9,ATL,ATL,EA,NaN,7,N,NaN,NaN,NaN,...,0,0,NaN,NaN,CF,E,SAS,LAS,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15115,10,WAS,WAS,EA,NaN,4,Y,L,NaN,NaN,...,0,2,0.0,2.0,FR,C,IND,WAS,2,0
15116,10,WAS,WAS,EA,NaN,4,Y,L,NaN,NaN,...,0,2,0.0,2.0,FR,D,DET,ATL,2,0
15117,10,WAS,WAS,EA,NaN,4,Y,L,NaN,NaN,...,0,2,0.0,2.0,CF,E,PHO,LAS,2,1
15118,10,WAS,WAS,EA,NaN,4,Y,L,NaN,NaN,...,0,2,0.0,2.0,CF,F,IND,DET,2,1
15119,10,WAS,WAS,EA,NaN,4,Y,L,NaN,NaN,...,0,2,0.0,2.0,F,G,PHO,IND,3,2